################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dziuba-illia-kmrf/FileContentIndex
/.vs/dziuba-illia-kmrf/v17
/.vs
